



.active {
    color: #01a84d;
}

.expired {
    color: #e45959;
}



.icons {
    margin-left: 20px;
}

.parent {
    border-radius: 28px;
    box-shadow: 0 10px 20px -5px rgba(6, 36, 92, 0.06);
    padding: 40px;
}


/* .header{
    display: flex;
    justify-content: space-between;
    background-color: #989DA6;
}
.items{
    display: flex;
    justify-content: space-between;
} */
/* .tableTh { */
/* font-size: medium;
    color: #262626; */
/* justify-content: space-between; */
/* } */

 .selectorOption {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.theTable {
    border: 1px solid #B4E0D3;
    border-radius: 16px !important;
    margin-top: 30px;
    padding: 40px;
}

.jobRequirements {
    display: flex;
    flex-wrap: wrap;
}

.jobRequirements .requirement {
    background-color: #DAEFF2;
    padding: 7px;
    color: #727272;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 5px;
} 

.jobTitle {
    font-size: 16px;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.additional-icons {
    display: flex;
    margin-left: 10px;

}

.additional-icons i {
    margin-right: 5px;
    cursor: pointer;
}

.pagination {
    margin-top: 30px;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
} 

.pagination a.page {
    border: 1px solid #ddd;

}

.pagination a.prev,
.pagination a.next {
    background: linear-gradient(to right, #F9FFFE, #E7FFE0);

}

.pagination a.active {
    background-color: #96E3B9;
    color: white;

}

.pagination a:hover {
    background-color: #e0e0e0;
}

body {
    background-color: #96E3B9;
}



.myJobs {
    border-radius: 28px;
    box-shadow: 0 10px 20px -5px rgba(6, 36, 92, 0.06);
    padding: 30px;
}

.selectorOption {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.selectOption {
    border-radius: 8px;
    border: 1px solid #B4E0D3;
    color: #989DA6;
    margin-left: 5px;
    width: 150px;
}

.myRow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
}

.tableJobs {
    border: 1px solid #B4E0D3;
    border-radius: 16px !important;
    margin-top: 30px;
    overflow-x: auto;
}
.headJob{
    padding: 20px 40px;
    background-color: #F6F7FF;
}