
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.cardbody{
  padding-inline: 10px;
    margin-top: 15px;
    /* width: 13.375rem; */
    /* height: 20.063rem; */
    border: 1px solid var(--primary);
    border-radius: 11px;
    margin-inline: 5px;
}

.cardImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.salary{
    color: var(--secondary);
    
}

.location{
    font-size: 0.875rem;
    /* width: 6.25rem; */
    /* height: 1.438rem; */
    border-radius: 0.313rem;
    background-color:var(--background);
    text-align: center;
    color: var(--Paragraph02);
}


.cardIcons{
    padding: 5px;
    margin: 5px;
}


.skills{
    /* height: 3.188rem; */
    /* width: 11.188rem; */
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-inline: auto;
    justify-content:center;
    color: var(--Paragraph02);
    font-size: 12px;
    flex-wrap: wrap;
}

.skill{
    padding: 5px;
    display: flex;
    align-items: center;
   justify-content: center;
    width:3.563rem ;
    height: 1rem;
    background-color:var(--background);
    border-radius: 6px;
    margin: 2px;
}
.btn{
    margin: auto;
    justify-content: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: var(--primary);
    color: #ffff;
    border-radius: 5px;
    width: 10.625rem;
    height: 2.375rem;
    /* padding: 5px 10px; */
    text-align: center;
    align-items: center;
    align-content: center;
    transition: 0.3s ;
}
.btn:hover{
    background-color: var(--background);
    color: var(--primary);
    border-color: var(--primary);
}


.maincontent{
    /* width: 85%; */
    /* height: 57.563rem; */
   background-color: #ffff;
   justify-content:space-between;
   border-radius: 10px;
   /* box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.1); */
   align-items: center;
   margin-inline: auto;
   text-align: center;
   padding-bottom: 20px;

}

.background{
  background-color:var(--background);
 /* height: max-content; */
 height: 100%;
}



.loader {
    position: relative;
    width: 240px;
    height: 130px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    background-color: #e3e3e3;
    overflow: hidden;
    z-index: 9999;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  
  .loader .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .loader .wrapper > div {
    background-color: #cacaca;
  }
  
  .loader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .loader .button {
    display: inline-block;
    height: 32px;
    width: 75px;
  }
  
  .loader .line-1 {
    position: absolute;
    top: 11px;
    left: 58px;
    height: 10px;
    width: 100px;
  }
  
  .loader .line-2 {
    position: absolute;
    top: 34px;
    left: 58px;
    height: 10px;
    width: 150px;
  }
  
  .loader .line-3 {
    position: absolute;
    top: 57px;
    left: 0px;
    height: 10px;
    width: 100%;
  }
  
  .loader .line-4 {
    position: absolute;
    top: 80px;
    left: 0px;
    height: 10px;
    width: 92%;
  }
  

  .userName{
    font-size: 1.2rem;
  }


  .pagBtn {
   
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
  }
  .pagNum{
    font-size: 1.2rem;
    margin: 5px;
    background-color: var( --gradient02);
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }


  
  .pagination-container {
    position: fixed; 
    bottom: 0;
  }




  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }

  @media screen  and (max-width:420px){
    .maincontent{
      background-color: var(--background);
    }
  }

 