<div class="d-flex flex-wrap">
    <div class="flex-shrink-0 m-2">
      <app-applicant-card></app-applicant-card>
    </div>
    <div class="flex-shrink-0 m-2">
      <app-applicant-card></app-applicant-card>
    </div>
    <div class="flex-shrink-0 m-2">
    
      <app-applicant-card></app-applicant-card>
    </div>
    <div class="flex-shrink-0 m-2">
      <app-applicant-card></app-applicant-card>
    </div>
    <div class="flex-shrink-0 m-2">
        <app-applicant-card></app-applicant-card>
      </div>
  </div>

