<section class="register">
  <div class="container loginContain">
    <div class="row registerForm">
      <div class="sectionRigth col-5">
        <div class="rigth-title">
          <h2>Find the one that<br/> suits your Company</h2>
        </div>
        <div class="rigth-img">
          <img src="/Usability testing-pana 1.png">
        </div>
      </div>
      <div class="sectionLeft col-7 p-4">
        <div class="leftTitle text-center mb-4">
          <h2>Create Account</h2>
          <p>
            Search all the open positions on the web. Get your own<br/> personalized salary estimate. Read reviews on over 600,000 <br/> companies worldwide.
          </p>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onNext()">
          <div class="form-group position-relative input-component">
            <label for="company-name" class="position-absolute bg-white label">Company Name</label>
            <input type="text" id="company-name" class="form-control" formControlName="companyName">
            <span *ngIf="registerForm.get('companyName')?.invalid && registerForm.get('companyName')?.touched" class="text-danger">
              Company Name is required.
            </span>
          </div>
          <div class="form-group position-relative input-component mt-3">
            <label for="email" class="position-absolute bg-white label">Email Address</label>
            <input type="email" id="email" class="form-control" formControlName="companyEmail">
            <span *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
              Enter a valid email address.
            </span>
          </div>
          <div class="form-group position-relative input-component mt-3">
            <label for="phone" class="position-absolute bg-white label">Phone</label>
            <input type="text" id="phone" class="form-control" formControlName="phone">
            <span *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="text-danger">
              Phone number is required.
            </span>
          </div>
          <div class="form-group position-relative input-component mt-3">
            <label for="password" class="bg-white label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="companyPassword">
            <span *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
              Password must be at least 6 characters.
            </span>
          </div>
          <div class="form-group position-relative input-component mt-3">
            <label for="confirmPassword" class="bg-white label">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
            <span *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger">
              Confirm Password must be at least 6 characters.
            </span>
          </div>
          <button type="submit" class="btn btn-success w-100 m-auto mb-3 mt-3 d-flex align-items-center justify-content-center">Next</button>
        </form>
        <p>Already have an account? <a (click)="navigateToSignIn()" class="text-success text-decoration-none"><span>Sign in</span></a></p>
        <div class="d-flex justify-content-center align-items-center">
          <div class="line"></div>
          <span class="p-2 bg-white">or</span>
          <div class="line"></div>
        </div>
        
        <div class="d-flex justify-content-center mt-2">
          <a (click)="signUpWithGitHub()" class="btn btn-outline-dark w-100 m-auto mb-3 mt-3 d-flex align-items-center justify-content-center">
            <i class="fab fa-github"></i> Sign up with GitHub
          </a>
        </div>
        
      </div>
    </div>
  </div>
</section>
