
  <div class="container">
    <div class="row d-flex justify-content-center ">
      <div class="col-md-8">
        <h6 class="subTitle">Job Details</h6>
        <form [formGroup]="jobForm" (ngSubmit)="addJob()" class="w-100">
          <!-- job title -->
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input type="text" id="jobTitle" formControlName="JobTitle" required>
            <div *ngIf="jobForm.get('JobTitle')?.touched && jobForm.get('JobTitle')?.errors?.['required']" class="text-danger">
              <p>Job Title is required</p>
            </div>
          </div>

          <!-- jobCategory -->
          <div class="form-group">
            <label for="jobCategory">Job Category</label>
            <select id="jobCategory" formControlName="JobCategory">
              <option value="development">Development</option>
              <option value="design">Design</option>
              <option value="marketing">Marketing</option>
            </select>
            <div *ngIf="jobForm.get('JobCategory')?.touched && jobForm.get('JobCategory')?.errors?.['required']" class="text-danger">
              <p>Job Category is required</p>
            </div>
          </div>

          <!-- jobSubCategory -->
          <div class="form-group">
            <label for="jobSubCategory">Job SubCategory</label>
            <input type="text" id="jobSubCategory" formControlName="JobSubCategory">
            <div *ngIf="jobForm.get('JobSubCategory')?.touched && jobForm.get('JobSubCategory')?.errors?.['required']" class="text-danger">
              <p>Job SubCategory is required</p>
            </div>
          </div>

          <!-- description -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" required minlength="50" maxlength="1000"></textarea>
            <div *ngIf="jobForm.get('description')?.touched && jobForm.get('description')?.invalid" class="text-danger">
              <p *ngIf="jobForm.get('description')?.errors?.['required']">Description is required</p>
              <p *ngIf="jobForm.get('description')?.errors?.['minlength']">Description must be at least 50 characters</p>
              <p *ngIf="jobForm.get('description')?.errors?.['maxlength']">Description cannot exceed 1000 characters</p>
            </div>
          </div>

  
          <!-- submit button -->
          <div class="form-group">
            <button [disabled]="jobForm.invalid" type="submit" class="postJob">Post Job</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>

