
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */


.parent{
    border: 1px solid #ffffff;
    border-radius: 28px;
    box-shadow: 0 10px 20px -5px rgba(6, 36, 92, 0.06);
   padding: 40px;
}
.mainTitle{
    color: #262626;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.subTitle{
    color: #01A84D;
    font-size: 24px;
}
input, select, textarea ,.mat-mdc-select{
    width: 100%;
    display: block;
    padding: 16px;
    border: 1px solid #989DA6;
    border-radius: 8px;
    margin-bottom: 18px;
    
}


input:focus, select:focus, textarea:focus {
    outline: 1px solid #25D366 !important;
}

label{
    color: #262626;
    font-size: medium;
    font-weight:500;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    top: 20px;
    left: 26px
}
.addQuestion, .postJob{
    background-color: #01A84D;
    border: 1px solid #01A84D !important;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
}
.btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Style for the select container */
.mat-select {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Style for individual chips */
  .mat-select .mat-chip {
    margin: 2px;
    background-color: #f0f0f0;
    border-radius: 16px;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .mat-select .mat-chip .mat-chip-remove {
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  
  /* Optional: Style for the label to be consistent */
  .mat-select-label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* Style for the dropdown menu */
  .mat-select-panel {
    max-height: 250px;
    overflow-y: auto;
  }
  