<section class="register">
    <div class="container loginContain">
      <div class="row registerForm">
        <div class="sectionRigth col-6">
          <div class="rigth-title">
            <h2>Don’t worry! <br/>It happens.</h2>
          </div>
          <div class="rigth-img">
            <img src="/Forgot password-amico 1.png" alt="Forget Password Image">
          </div>
        </div>
        <div class="sectionLeft col-6 p-4">
          <div class="leftTitle text-center mb-4">
            <h2>Forget Password</h2>
            <p>No worries! These things happen. Just enter your email <br/> address below, and we'll send you an OTP right away.</p>
          </div>
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group position-relative input-component mt-3">
              <label for="email" class="position-absolute bg-white label">Email Address</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="companyEmail"
                [ngClass]="{'is-invalid': forgetPasswordForm.get('companyEmail')?.invalid && forgetPasswordForm.get('companyEmail')?.touched}"
              >
              <div *ngIf="forgetPasswordForm.get('companyEmail')?.invalid && forgetPasswordForm.get('companyEmail')?.touched" class="text-danger">
                <span *ngIf="forgetPasswordForm.get('companyEmail')?.errors?.['required']">Please enter an email address</span>
                <span *ngIf="forgetPasswordForm.get('companyEmail')?.errors?.['email']">Please enter a valid email address</span>
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100 m-auto mb-3 mt-3 d-flex align-items-center justify-content-center">Send</button>
          </form>
          <div class="d-flex justify-content-center align-items-center">
            <a routerLink="/sign-in">Already have an account? Sign in</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  
