<h5 class="mainTitle">Update Job</h5>
<div class="parent bg-white">
    <h6 class="subTitle">Job Details</h6>
    <form>

        <label for="jobTitle">Job Title</label>
        <input type="text" id="jobTitle" required>

        <div class="form-group" >
            <label for="jobCategory" >Job Category</label>
            <select id="jobCategory" >
                <option value="development">Development</option>
                <option value="design">Design</option>
                <option value="marketing">Marketing</option>
            </select>
        </div>

        <label for="jobSubCategory">Job SubCategory</label>
        <input type="text" id="jobSubCategory">

        <label for="description">Description</label>
        <textarea id="description" required minlength="50" maxlength="1000" rows="5"></textarea>

        <label for="jobType">Job Type</label>
        <select id="jobType">
            <option value="Full-Time">Full-Time</option>
            <option value="Part-Time">Part-Time</option>
            <option value="Internship">Internship</option>
            <option value="Contract">Contract</option>
        </select>

        <div formGroupName="salary">
            <label for="salaryFrom">Salary From</label>
            <input type="number" id="salaryFrom">
            <label for="salaryTo">Salary To</label>
            <input type="number" id="salaryTo">
        </div>

        <label for="skills">Skills</label>
        <input type="text" id="skills">

        <div>
            <label for="jobHoursFrom">Job Hours From</label>
            <input type="number" id="jobHoursFrom" min="1" max="24">

            <label for="jobHoursTo">Job Hours To</label>
            <input type="number" id="jobHoursTo" min="1" max="24">
        </div>

        <div formGroupName="jobLocation">
            <label for="state">State</label>
            <input type="text" id="state" required>

            <label for="government">Government</label>
            <input type="text" id="government" required>
        </div>

        <label for="jobLocationType">Job Location Type</label>
        <select id="jobLocationType">
            <option value="Onsite">Onsite</option>
            <option value="Remote">Remote</option>
            <option value="Hybrid">Hybrid</option>
        </select>

        <label for="jobLevel">Job Level</label>
        <select id="jobLevel">
            <option value="EntryLevel">EntryLevel</option>
            <option value="MidLevel">MidLevel</option>
            <option value="Senior">Senior</option>
        </select>

        <label for="jobRequirements">Job Requirements</label>
        <mat-select id="jobRequirements" multiple>
            <mat-option *ngFor="let requirement of requirementsList" [value]="requirement">
                {{ requirement }}
            </mat-option>
        </mat-select>

        <label for="status">Status</label>
        <select id="status">
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
        </select>

        <input type="hidden">

        <button class="addQuestion" type="button">Add Question</button>
        <div class="btns">
            <button type="submit" class="postJob">Update Job</button>
        </div>
    </form>
</div>