.applicants {
    border-radius: 10px;
    box-shadow: 0 0 13px 0px #00000026;

}

.form-select {
    width: 90%;
}

.applicant {
    border-radius: 10px;
}

.headSection {
    border-bottom: 1px solid var(--border01);
    padding: 30px 50px;
}

.seekerImge {
    min-width: 80px;
    min-height: 80px;
    width: 150px;
    height: 150px;
    padding: 0;
    border-radius: 50%;
}

.custmBorder {
    border: 1.5px solid var(--border01);
}

@media (max-width:460px) {
    p {
        font-size: 12px;
    }

    .headApplicant {
        flex-direction: column;
        margin: auto;
    }
}

.jobTitle {
    font-size: 14px;
}