.sidbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:17.5rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
   
}

a{
    text-decoration: none;
    color: black;
}


.sidbar .item{
    text-align: center;
    padding-left: 3.75rem;
    padding-top: 1.7rem;

}

.sidbar .item:hover,.active{
    background-color: rgba(0, 0, 0, 0.1);
    /* border-left-radius :15px; */
    color: var(--secondary);
    border-left: 4px solid var(--secondary);

}
.item:hover svg path {
    fill:var(--secondary )!important;
    stroke: var(--secondary);
}




.sidbar .item:hover a{color: var(--secondary);}

@media screen and (max-width:768px){
    
    .sidbar{
        width: 100px;
        height: 100%;
        text-align: center;
        align-items: center;
        padding-right: 50px;
       
    }

    .sidbar.item{
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      
        
    }

    .sidbar .item svg{
      width: 30px;
      height: 30px;
      padding-left: 0px !important;

    }
    .sidbar .item:hover{
        background-color: rgba(0, 0, 0, 0.0);
        color: var(--secondary);
     
    
    }
    


    .sidbar .item p{
        display: none;
    }
}