<div class="container-fluid">
    <div class="row">
      <nav class="d-flex flex-column vh-100 sidebar  col-3 ">
        <div class="flex-column mt-4 w-85 dashboard-container">
          <div
            class="d-flex align-items-center element"
            [class.active]="activeItem === 'dashboard'"
            (click)="handleItemClick('dashboard')"
          >
            <span *ngIf="activeItem === 'dashboard'" class="active-flag"></span>
            <img src="Vector.svg" alt="" />
            <a
              class="nav-link"
              [class.active]="activeItem === 'dashboard'"
              routerLink="/company/:companyId/dashboard"
            >
              <span class="text">Dashboard</span>
            </a>
          </div>
          <div
            class="d-flex align-items-center element"
            [class.active]="activeItem === 'profile'"
            (click)="handleItemClick('profile')"
          >
            <span *ngIf="activeItem === 'profile'" class="active-flag"></span>
            <img src="account.svg" alt="" />
            <a
              class="nav-link"
              [class.active]="activeItem === 'profile'"
              routerLink="/company/:companyId/editprofile"
            >
              <span class="text">Edit Profile</span>
            </a>
          </div>
          <div
            class="d-flex align-items-center element"
            [class.active]="activeItem === 'post-job'"
            (click)="handleItemClick('post-job')"
          >
            <span *ngIf="activeItem === 'post-job'" class="active-flag"></span>
            <img src="Edit.svg" alt="" />
            <a
              class="nav-link"
              [class.active]="activeItem === 'post-job'"
              routerLink="/company/:companyId/postJob"
            >
              <span class="text">Post Job</span>
            </a>
          </div>
          <div
            class="d-flex align-items-center element"
            [class.active]="activeItem === 'my-jobs'"
            (click)="handleItemClick('my-jobs')"
          >
            <span *ngIf="activeItem === 'my-jobs'" class="active-flag"></span>
            <img src="office bag.svg" alt="" />
            <a
              class="nav-link"
              [class.active]="activeItem === 'my-jobs'"
              routerLink="/company/:companyId/myJobs"
            >
              <span class="text">My Jobs</span>
            </a>
          </div>
          <div
            class="d-flex align-items-center element"
            [class.active]="activeItem === 'applications'"
            (click)="handleItemClick('applications')"
          >
            <span *ngIf="activeItem === 'applications'" class="active-flag"></span>
            <img src="approve file.svg" alt="" />
            <a
              class="nav-link"
              [class.active]="activeItem === 'applications'"
              routerLink="/company/:companyId/applicantcards/:jobId"
            >
              <span class="text">Applications</span>
            </a>
          </div>


          <div
          class="d-flex align-items-center element"
          [class.active]="activeItem === 'SavedCandidates'"
          (click)="handleItemClick('SavedCandidates')"
        >
          <span *ngIf="activeItem === 'SavedCandidates'" class="active-flag"></span>
          <img src="bookmark.svg" alt="" />
          <a
            class="nav-link"
            [class.active]="activeItem === 'SavedCandidates'"
            routerLink="/company/:companyId/savedcandidates"
          >
            <span class="text">Saved Candidates</span>
          </a>
        </div>
          <div
            class="d-flex align-items-center element"
            [class.active]="activeItem === 'setting'"
            (click)="handleItemClick('setting')"
          >
            <span *ngIf="activeItem === 'setting'" class="active-flag"></span>
            <img src="Setting.svg" alt="" />
            <a
              class="nav-link"
              [class.active]="activeItem === 'setting'"
              routerLink="/company/:companyId/setting"
            >
              <span class="text">Setting</span>
            </a>
          </div>
          <div
            class="d-flex align-items-center element"
            [class.active]="activeItem === 'log-out'"
            (click)="handleItemClick('log-out')"
          >
            <span *ngIf="activeItem === 'log-out'" class="active-flag"></span>
            <img src="Logout.svg" alt="" />
            <a
              class="nav-link"
              [class.active]="activeItem === 'log-out'"
              routerLink="/logout"
            >
             <span class="text"> Log Out</span>
            </a>
          </div>
        </div>
      </nav>
     
    </div>
  </div>
  