<div class="d-flex">
    <div class="flex-shrink-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="flex-grow-1 m-5">
      <div class="d-flex flex-wrap">
        <div class="flex-shrink-0 m-2">
          <app-applicant-card></app-applicant-card>
        </div>
        <div class="flex-shrink-0 m-2">
          <app-applicant-card></app-applicant-card>
        </div>
        <div class="flex-shrink-0 m-2">
        
          <app-applicant-card></app-applicant-card>
        </div>
        <div class="flex-shrink-0 m-2">
          <app-applicant-card></app-applicant-card>
        </div>
        <div class="flex-shrink-0 m-2">
            <app-applicant-card></app-applicant-card>
          </div>
      </div>
    </div>
  </div>